* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --ColorPrimary: #9800ee;
  --ColorSecondary: #e1d2f6;
  --ColorTertiary: #373737;
  --ColorHover: #8107c7;
  --ShadowPrymary: 1px 1px 30px -5px #20202010;
  --FontPrimary: "Poppins", "Sans-serif";
  --FontSecondary: "Roboto", "Ubuntu";
}

.container__all {
  position: relative;
  right: 0;
  transition: all 400ms;
}

header {
  width: 100%;
  height: 100px;
  font-family: var(--FontPrimary);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 400ms;
}

.move_content {
  right: 180px;
}

.container__header {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
  background-color: #ffffff90;
}

header .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 150px;
}

.container__nav {
  position: relative;
  height: 100%;
}

nav {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
}

.buttonNav {
  width: 40px;
  height: 5px;
  margin: 0 5px;
  color: var(--ColorTertiary);
  font-size: 14px;
  padding: 5px 15px;
}

.buttonNav:hover {
  color: var(--ColorPrimary);
  transition: 300ms;
  background-color: #e1d2f6;
  border-radius: 15px;
  text-align: center;
}

.active {
  color: var(--ColorPrimary);
  /* font-weight: 600; */
  background-color: #e1d2f6;
  border-radius: 15px;
}

.nav_mod {
  height: 70px;
  box-shadow: var (--ShadowPrymary);
  background: #ffffff;
}

.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}

.btn__menu:hover {
  background: #f5f5f5;
}

/* COVER */

.cover {
  width: 100%;
  padding-bottom: 60px;
  font-family: var(--FontPrimary);
  margin-top: 100px;
}

.containerGeneral {
  max-width: 60%;
  margin: 100px auto;
}

.container__cover {
  max-width: 60%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cover .container__info {
  max-width: 400px;
  margin-top: 40px;
  z-index: 2;
}

.tituloPortada1 {
  max-width: 400px;
  font-size: 60px;
  font-weight: 900;
  color: var(--ColorTertiary);
}

.tituloPortada2 {
  font-size: 60px;
  font-weight: 900;
  color: var(--ColorPrimary);
  margin-top: -30px;
}

.cover p {
  margin-top: 10px;
  color: var(--ColorTertiary);
}

.cover input[type="button"] {
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: var(--ColorPrimary);
  background: var(--ColorSecondary);
  border-radius: 20px;
  box-shadow: var (--ShadowPrymary);
  cursor: pointer;
  transition: box-shadow 300ms;
}

.cover input[type="button"]:hover {
  box-shadow: var (--ShadowPrymary);
  background-color: white;
  border-color: var (--ColorHover);
  border: 1px solid var(--ColorSecondary);
}

.container__vector {
  position: relative;
}

.container__vector img {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 600px;
  animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector {
  0% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}



@media screen and (max-width: 760px) {
  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__menu {
    display: flex;
    z-index: 5;
  }

  nav {
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -180px;
    padding: 0 40px;
    transition: all 400ms;
  }

  .move_nav {
    right: 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 20px 0;
  }
}

/* ---------------
HEADER
--------------- */
body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 70px;
  background-color: var (--ColorSecondary);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  box-shadow: var(--ShadowPrymary);
}
.menuLogo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;
}

.Logo {
  height: 70%;
  width: 100%;
  margin: auto 10px auto 10px;
}

.btnMenu {
  margin: 20px 30px 20px 0px;
  font-size: 27px;
  color: white;
}
.btnLogin {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5%;
}
.login {
  font-family: var(--FontPrimary);
  font-size: 18px;
  color: white;
  margin: 0 10px;
}

/* ---------------
BANNER HOME
--------------- */
.contenedor {
  width: 60%;
  margin: 50px auto;
  text-align: center;
}

.bannerHome {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--ShadowPrymary);
  border-radius: 10px;
}

.ContenedoBtnFrase {
  display: block;
  margin: 50px auto;
  justify-content: center;
  width: 90%;
}

.ContenedoBtnFrase h3 {
  color: var (--ColorTertiary);
  font-size: 20px;
  font-weight: 300;
  font-family: var(--FontPrimary);
  text-align: center;
  margin-bottom: 50px;
}

.fa-hand-point-down{
  font-size: 30px;
  color: var(--ColorTertiary);
  text-shadow: var(--ShadowPrymary);
  margin-bottom: 50px;
  
}

.btnHome {
  background-color: var(--ColorPrimary);
  padding: 15px 35px;
  font-family: var(--FontPrimary);
  font-size: 14px;
  color: white;
  border-radius: 15px;
  box-shadow: var(--ShadowPrymary);
  
}

/* ---------------
PRIMER TITULO
--------------- */

.tituloH1 {
  font-family: var(--FontPrimary);
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  color: var(--ColorPrimary);
  text-shadow: var(--ShadowPrymary);
}

.btnText {
  background-color: var(--ColorSecondary);
  padding: 15px 35px;
  font-family: var(--FontPrimary);
  font-size: 14px;
  color: var(--ColorPrimary);
  font-weight: 600;
  border-radius: 15px;
  box-shadow: var(--ShadowPrymary);
  margin: auto;
}

.contText {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}

.Text {
  font-size: 14px;
  color: #707070;
  font-family: var(--FontPrimary);
  margin: 15px;
  line-height: 1.6;
  font-size: 16px;
  text-align: justify;
}

.contPantalla2 {
  background-color: #f0eef2;
  width: 100%;
  padding-top: 20px;
  margin-top: 70px;
  padding-bottom: 70px;
}

/* ---------------
AGRUPADOR CARD
--------------- */

.AgrupadorCard {
  display: flex;
  margin-top: 50px;
}

.ContenedorCard {
  width: 50%;
  padding: 30px;
  text-align: center;
}

.ContenedorImg {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
  border-radius: 10px;
}

.ContenedorImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ---------------
CARROUSEL
--------------- */

.contCarrousel {
  width: 60%;
  margin: 70px auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgCarroussel {
  width: 100%;
}

.botones {
  position: absolute;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #00000080;
  color: #FFF;
  cursor: pointer;
  z-index: 10;
}

.fa-angle-left{
  margin-top: 10px;
}

.fa-angle-right{
  margin-top: 10px;
}

.atras {
  left: 5%;
  margin-top: 10px;
}

.adelante {
  right: 5%;
}
