:root {
  --ColorPrimary: #9800ee;
  --ColorSecondary: #e1d2f6;
  --ColorTertiary: #373737;
  --ColorHover: #8107c7;
  --ShadowPrymary: 1px 1px 30px -5px #20202010;
  --ShadowSecondary: 1px 1px 30px -5px #20202080;
  --FontPrimary: "Poppins", "Sans-serif";
  --FontSecondary: "Roboto", "Ubuntu";
}

/* 
PLANTILLA
*/

.plantillavertical {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0% !important;
}

.plantillavertical img{
  width: 100%;
  height: auto;
  position: absolute;
}


/* 
FOTOS
*/

.containerFotos{
  transform: scale(1);
  height: auto;
  /* position: absolute; */
}

.fotos img{
  position: absolute;
  box-shadow: var(--ShadowSecondary);
  border: white;
  border-radius: 2mm;
  border: 15px solid white;
  object-fit: cover;
  object-position: center;
}

.fotosV img {
  width: 80mm;
  height: 110mm;
}

.fotosVgrande img {
  width: 130mm;
  height: 170mm;
}

.fotosH img {
  width: 170mm;
  height: 115mm;
}

.fotoV1 img {
  left: 70px;
  top: 70px;
  /* object-fit: cover; */
  /* object-position: center; */
}

.fotoV1a img {
  left: 150px;
  top: 170px;
  object-fit: cover;
  object-position: center;
  transform: rotate(-7deg);
}

.fotoH1 img {
  left: 53px;
  top: 36px;
  transform: rotate(1deg);
  object-fit: cover;
  object-position: center;
}

.fotoV2 img {
  left: 400px;
  top: 40px;
  transform: rotate(-7deg);
  object-fit: cover;
  object-position: center;
}

.fotoH2 img {
  left: 64px;
  top: 558px;
  transform: rotate(-3deg);
  object-fit: cover;
  object-position: center;
}

.fotoV3 img {
  left: 70px;
  top: 515px;
  transform: rotate(-3deg);
  object-fit: cover;
  object-position: center;
}

.fotoH3 img {
  left: 54px;
  top: 515px;
  transform: rotate(-7deg);
  object-fit: cover;
  object-position: center;
}

.fotoV4 img {
  left: 424px;
  top: 500px;
  transform: rotate(3deg);
  object-fit: cover;
  object-position: center;
}


/* 
INPUT
*/

.inputFoto {
  width: 80mm;
  height: 10mm;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-family: var(--FontPrimary);
  color: #373737;
  font-weight: 650;
}

.input1 {
  position: absolute;
  left: 85px;
  top: 520px;
}

.input1a {
  position: absolute;
  left: 209px;
  top: 866px;
  transform: rotate(-7deg);
}

.inputH1 {
  position: absolute;
  transform: rotate(1deg);
  left: 64px;
  top: 504px;
}

.input2 {
  position: absolute;
  left: 443px;
  top: 488px;
  transform: rotate(-7deg);
}

.inputH2 {
  position: absolute;
  transform: rotate(-3deg);
  left: 93px;
  top: 1035px;
}

.input3 {
  position: absolute;
  transform: rotate(-3deg);
  left: 93px;
  top: 1025px;
}

.inputH3 {
  position: absolute;
  transform: rotate(-7deg);
  left: 230px;
  top: 1041px;
}

.input4 {
  position: absolute;
  top: 1023px;
  left: 422px;
  transform: rotate(3deg);
}

#inputFoto1 {
  display: none;
}

#inputFoto2 {
  display: none;
}

#inputFoto3 {
  display: none;
}

#inputFoto4 {
  display: none;
}

#inputFoto1a {
  display: none;
}

/* 
SPAN
*/

.containerSpan {
  position: absolute;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.containerSpanV {
  width: 302px;
  height: 415px;
}

.containerSpanVa {
  width: 491px;
  height: 642px;
}

.containerSpanH {
  width: 637px;
  height: 433px;
}

.span{
  position: absolute;
  margin: auto;
  width: 302px;
  height: 415px;
}

.fa-camera {
  display:flex !important;
  font-size: 50px;
  color: silver;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center ;
  align-items: center !important;
}

.fa-camera:hover {
  cursor: pointer;
  color: #373737;
  width: 100%;
  height: 100%;
} 

.recorteFoto{
  position:absolute;
  object-fit: cover;
  object-position: center;
}

/* 
POSICIONAMIENTO
*/

.fotoVertical1{
  left: 0px;
  top: 0px;
}

.positionFoto1{
  top: 85px;
  left: 85px;
}

.positionFoto1a{
  top: 185px;
  left: 164px;
  transform: rotate(-7deg);
}

.positionFotoH1{
  left: 70px;
  top: 53px;
  transform: rotate(1deg);
}


.fotoVertical2{
  left: 0px;
  top: 0px;
}

.positionFoto2{
  left: 411px;
  top: 54px;
  transform: rotate(-7deg);
}

.positionFotoH2{
  left: 80px;
  top: 573px;
  transform: rotate(-3deg);
}

.positionFoto3{
  left: 83px;
  top: 586px;
  transform: rotate(-3deg);
}

.positionFotoH3{
  left: 70px;
  top: 583px;
  transform: rotate(-7deg);
}

.positionFoto4{
  left: 438px;
  top: 586px;
  transform: rotate(3deg);
}