:root {
  --ColorPrimary: #9800ee;
  --ColorSecondary: #e1d2f6;
  --ColorTertiary: #373737;
  --ColorHover: #8107c7;
  --ShadowPrymary: 1px 1px 30px -5px #20202010;
  --ShadowSecondary: 1px 1px 30px -5px #20202080;
  --FontPrimary: "Poppins", "Sans-serif";
  --FontSecondary: "Roboto", "Ubuntu";
}

/* .bodyPlantilla{
  width: 100%;
  height: auto;
} */

.plantillavertical {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0% !important;
}

.plantillavertical img{
  width: 100%;
  height: auto;
  position: absolute;
}

.containerFotos{
  transform: scale(0.9);
  height: auto;
  position: absolute;
}

.fotos img {
  width: 80mm;
  height: 110mm;
  position: absolute;
  box-shadow: var(--ShadowSecondary);
  border: white;
  border-radius: 2mm;
  border: 15px solid white;
  object-fit: cover;
}

.foto1 img {
  left: 70px;
  top: 70px;
  object-fit: cover;
  object-position: center;
}

.foto2 img {
  left: 400px;
  top: 40px;
  transform: rotate(-7deg);
  object-fit: cover;
  object-position: center;
}

.foto3 img {
  left: 70px;
  top: 575px;
  transform: rotate(-3deg);
  object-fit: cover;
  object-position: center;
}

.foto4 img {
  left: 424px;
  top: 580px;
  transform: rotate(3deg);
  object-fit: cover;
  object-position: center;
}

.inputFoto {
  width: 80mm;
  height: 10mm;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-family: var(--FontPrimary);
  color: #373737;
  font-weight: 650;
}

.input1 {
  position: absolute;
  left: 85px;
  top: 520px;
}

.input2 {
  position: absolute;
  left: 443px;
  top: 488px;
  transform: rotate(-7deg);
}

.input3 {
  position: absolute;
  transform: rotate(-3deg);
  left: 93px;
  top: 1080px;
}

.input4 {
  position: absolute;
  top: 1100px;
  left: 422px;
  transform: rotate(3deg);
}

/* CONFIGURACIÓN GENERAL DE FOTOS */

#inputFoto1 {
  display: none;
}

#inputFoto2 {
  display: none;
}

#inputFoto3 {
  display: none;
}

#inputFoto4 {
  display: none;
}

.containerSpan {
  position: absolute;
  width: 302px;
  height: 415px;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  /* background: #9800ee; */
}

.span{
  position: absolute;
  margin: auto;
  width: 302px;
  height: 415px;
  /* border: 1px solid red; */
}

.fa-camera {
  display:flex !important;
  font-size: 50px;
  color: silver;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  z-index: 1;
  justify-content: center ;
  align-items: center !important;
}

.fa-camera:hover {
  cursor: pointer;
  color: #373737;
  width: 100%;
  height: 100%;
} 

.recorteFoto{
  position:absolute;
  object-fit: cover;
  object-position: center;
}

/* CONFIGURACIÓN POR FOTOS 

FOTO 1
*/

.fotoVertical1{
  left: 0px;
  top: 0px;
}

.positionFoto1{
  top: 85px;
  left: 85px;
}

/* FOTO 2 */

.fotoVertical2{
  left: 0px;
  top: 0px;
}

.positionFoto2{
  left: 411px;
  top: 54px;
  transform: rotate(-7deg);
}

.positionFoto3{
  left: 83px;
  top: 649px;
  transform: rotate(-3deg);
}

.positionFoto4{
  left: 438px;
  top: 669px;
  transform: rotate(3deg);
}